* {
    font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 32px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 48px;
}

.navbar__links a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn {
    background-color: #4c4cff;
    color: white;
    padding: 12px 28px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 700;
}